services:
    # Factories
    - Wame\ComponentModule\Components\IComponentPositionListControlFactory


    # Repositories
    ComponentInPositionRepository:
        class: Wame\ComponentModule\Repositories\ComponentInPositionRepository
        inject: yes
