services:
    PermissionObject:
        setup:
            - addResource('component')
            - addResourceAction('component', 'view')
            - allow('admin', 'component', 'view')
            - addResourceAction('component', 'create')
            - allow('admin', 'component', 'create')
            - addResourceAction('component', 'update')
            - allow('admin', 'component', 'update')
            - addResourceAction('component', 'delete')
            - allow('admin', 'component', 'delete')

            - addResource('position')
            - addResourceAction('position', 'view')
            - allow('admin', 'position', 'view')
            - addResourceAction('position', 'create')
            - allow('admin', 'position', 'create')
            - addResourceAction('position', 'update')
            - allow('admin', 'position', 'update')
            - addResourceAction('position', 'delete')
            - allow('admin', 'position', 'delete')
            - addResourceAction('position', 'changeStatus')
            - allow('admin', 'position', 'changeStatus')


    # Factories
    - Wame\ComponentModule\Components\PositionControlLoader
    - Wame\ComponentModule\Components\IPositionControlFactory
    - Wame\ComponentModule\Components\IPositionListControlFactory
    - Wame\ComponentModule\Components\IComponentPositionListControlFactory

    # Repositories
    - Wame\ComponentModule\Repositories\ComponentRepository
    - Wame\ComponentModule\Repositories\ComponentInPositionRepository
    - Wame\ComponentModule\Repositories\PositionRepository
    - Wame\ComponentModule\Repositories\PositionUsageRepository

    # Registers
    ComponentRegister:
        class: Wame\ComponentModule\Registers\ComponentRegister

    # Forms
    ComponentForm:
        class: Wame\ComponentModule\Forms\ComponentForm
        setup:
            - addFormContainer(Wame\ComponentModule\Forms\BasicComponentFormContainer(), 'BasicFormContainer', 100)
            - addFormContainer(Wame\ComponentModule\Forms\ContainerComponentFormContainer(), 'ContainerComponentFormContainer', 75)
            - addFormContainer(Wame\ComponentModule\Forms\AdvancedComponentFormContainer(), 'AdvancedFormContainer', 50)
            - addFormContainer(Wame\ComponentModule\Forms\PositionFormContainer(), 'PositionFormContainer', 25)
            - addFormContainer(Wame\DynamicObject\Forms\FormGroupContainer(), 'SubmitFormGroupContainer')
            - addFormContainer(Wame\DynamicObject\Forms\SubmitFormContainer(), 'SubmitFormContainer')

    ComponentPositionForm:
        class: Wame\ComponentModule\Forms\ComponentPositionForm
        setup:
            - addFormContainer(Wame\ComponentModule\Forms\PositionFormContainer(), 'PositionFormContainer', 100)

    ComponentAddToPositionForm:
        class: Wame\ComponentModule\Forms\ComponentAddToPositionForm

    PositionForm:
        class: Wame\ComponentModule\Forms\PositionForm
        setup:
            - addFormContainer(Wame\ComponentModule\Forms\BasicPositionFormContainer(), 'BasicFormContainer', 100)
            - addFormContainer(Wame\ComponentModule\Forms\AdvancedPositionFormContainer(), 'AdvancedFormContainer', 50)

    # Commands
    UpdatePositionsCommand:
        class: Wame\ComponentModule\Commands\UpdatePositionsCommand
        tags: [kdyby.console.command]
    PositionsSeeker:
        class: Wame\ComponentModule\Commands\Seeker\PositionsSeeker

doctrine:
    metadata:
        Wame\ComponentModule\Entities: %appDir%/../vendor/wame/ComponentModule/entities

nette:
    latte:
        macros:
            - Wame\ComponentModule\Macros\PositionMacros::install