latte:
    macros:
        - Wame\ComponentModule\Macros\PositionMacros::install


services:
    # Loader
    - Wame\ComponentModule\Components\PositionControlLoader


    # Components
    - Wame\ComponentModule\Components\IPositionControlFactory



    # Repositories
    PositionRepository:
        class: Wame\ComponentModule\Repositories\PositionRepository
        inject: yes

    PositionUsageRepository:
        class: Wame\ComponentModule\Repositories\PositionUsageRepository
        inject: yes


    # Commands
    UpdatePositionsCommand:
        class: Wame\ComponentModule\Commands\UpdatePositionsCommand
        tags: [kdyby.console.command]

    PositionsSeeker:
        class: Wame\ComponentModule\Commands\Seeker\PositionsSeeker

    SitePositionCommand:
        class: Wame\ComponentModule\Commands\SitePositionCommand
        tags: [kdyby.console.command]


    # Registers
    SitePositionRegister:
        class: Wame\ComponentModule\Registers\SitePositionRegister


    # Doctrine filters
    - Wame\ComponentModule\Doctrine\Filters\PositionStatusFilter
