<div class="lead">{_'Basic'}</div>

<div class="form-group">
	<label n:name="title">{label title/}</label>
	<input class="form-control" n:name="title">
</div>

<div class="form-group">
	<label n:name="description">{label description/}</label>
	<textarea class="form-control" n:name="description"></textarea>
</div>