{if count($positions) == 0}   
	<div class="empty-block">
        <p>{_'Do not created any positions.'}</p>
        
        <a href="{plink Position:create, 'id' => null}" class="btn btn-success ajax-modal">
            <span class="material-icons">add_circle_outline</span>
            {_'Create first position'}
        </a>
	</div>
{else}
    <ul class="collection with-header z-depth-3">
        <li class="collection-header">
            <div class="row">
                <div class="col-xs-9 valign-wrapper">
                    <span class="valign">{_'Positions'}</span>
                </div>
                <div class="col-xs-3 border-left text-right">
                    <a href="{plink Position:create, 'id' => null}" class="btn btn-link tooltipped ajax-modal" data-position="left" data-tooltip="{_'Create position'}">
                        <span class="material-icons">add_circle_outline</span>
                    </a>
                </div>
            </div>
        </li>
        
        <li class="collection-item dismissable" n:foreach="$positions as $position">
            <div class="row">
                <div class="col-xs-8">
                    <a href="{plink Position:show, 'id' => $position->id}">
                        <span class="title truncate">{$position->title}</span>
                    </a>

                    <small>[{$position->name}]</small>
                    
                    {if $position->description}
                        <br>
                        <small>
                            {$position->description}
                        </small>
                    {/if}
                </div>
                
                <div class="col-xs-4">
                    <div class="right-align">
                        <span class="btn btn-icon btn-xs text-muted tooltipped" data-position="left" data-tooltip="{_'Count components'}">{count($position->components)}</span>

                        <a href="{plink Position:delete, 'id' => $position->id}" class="btn btn-icon btn-hover-danger tooltipped ajax-modal" data-position="left" data-tooltip="{_'Remove position'}">
                            <i class="material-icons">delete</i>
                        </a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
{/if}