{if $position->status == 1}
	{$container->startTag()|noescape}
		{foreach $components as $componentName => $parameters}
			{if $parameters->cache}
				{cache $componentName, expire => $parameters->cache, tags => $parameters->tags}
					{control $componentName}
				{/cache}
			{else}
				{control $componentName}
			{/if}
		{/foreach}
	{$container->endTag()|noescape}
{/if}