<div class="form-group">
	<label n:name="class">{label class/}</label>
	<input class="form-control" n:name="class">
</div>

<div class="form-group">
	<label n:name="template">{label template/}</label>
	<input class="form-control" n:name="template">
</div>

<div class="form-group">
	<label n:name="cache">{label cache/}</label>
	<input class="form-control" n:name="cache">
</div>
